/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #315B7E;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #FBB03B;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.text-muted {
  color: #FBB03B;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #FBB03B;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border: 3px solid #FBB03B;
  background-image: url("../stormLarge.png");
  background-color: #FBB03B;
  background-repeat: no-repeat;
  background-size: 240px 240px;
  background-position: center;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 28px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/**** Non-jumbotron CSS ****/

.hidden {
  display: none;
}

.error {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 68%;
  border-radius: 5px;
  border: solid 1px red;
}

#signUpError, #logInError, #selectedRoomError {
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  border: solid 1px red;
}

.room {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

#roomPassword {
  width: 67%;
}

.jumbotron h1 {
  color: white;
/*  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #315B7E;*/
}
.lead {
  color: #315B7E;
  font-weight: bold;
}

.nav a, h2 {
  color: #FBB03B;
}

.nav a:hover {
  color: black;
}

.RoomList {
  background-color: #FCC672;
  border: solid 5px #FBB03B;
  border-radius: 3px;
  list-style-type: none;
  font-weight: bold;
}

