/*insert cool css here!*/
body {
  /*background-color: #6699CC;*/
  /*background-color: #003366;*/
  background-color: #D0EAFF;

}
.controls {
	position:absolute;
	top: 0px;
	/*left: 10px;*/
}


.bar {
	text-align: center;
	width: 250px;
	padding: 0px 5px 5px;
}
.bar .btn {
  width: 44%;
  margin: auto;
  background-color: #D3D9DF;
  margin-bottom: 10px;
  font-size: 20px;
}


.messageBox{
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
}

.toggle {
	padding: 5px 0px;
	margin-bottom: 5px;
	cursor: pointer;
	background-position: 50% 5px;
	background-repeat: no-repeat;
	height: 5px;
}

.selected {
  stroke: lightyellow;
  stroke-width: 5px;
  stroke-dasharray: 5 5;
  /*box-shadow: 0px 0px 5px #fff;*/
}

.label {
	color: black;
	stroke: none;
}

.link {
  fill: none;
  stroke: #003366;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

html, body, .d3box {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
.selected circle 
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.slideout-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: #333;
  z-index: 100;
  -moz-box-shadow: -4px 4px 8px #888; /* FF 3.5+ */
  -webkit-box-shadow: -4px 4px 8px #888; /* Safari 3.0+, Chrome */
  box-shadow: -4px 4px 8px #888; /* Opera 10.5, IE 9.0 */
}
.slideout-menu h3 {
  position: relative;
  padding: 12px 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: 12px;
  right: 10px;
  display: inline-block;
  padding: 6px 9px 5px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover {
  color: #fff;
}
.slideout-menu ul {
  list-style: none;
  font-weight: 300;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #454545;
}
.slideout-menu ul li {
  border-top: 1px solid #454545;
  border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
  position: relative;
  display: block;
  padding: 10px;
  color: #999;
  text-decoration: none;
}
.slideout-menu ul li a:hover {
  background: #000;
  color: #fff;
}
.slideout-menu ul li a i {
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: .5;
}

